<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/addProduct.css" />
    <title>Add Product</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/addProduct">Add Product</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Add a New Product</h1>
      <form action="/admin/addProduct" method="POST">
        <label for="title">Product Title:</label>
        <input
          type="text"
          id="title"
          name="title"
          required
          placeholder="Enter product title"
        />
        <button type="submit">Add Product</button>
      </form>
    </main>
  </body>
</html>
